<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create user</a>
    </div>
    <div class="container">
      <div class="table-users">
        <h3>List table :</h3>
        <table>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Actions</th>
          </tr>
          <% listUser.forEach((user, index) => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.name %></td>
            <td><%= user.city %></td>
            <td class="actions">
              <a class="btn-update" href="./update/<%= user.id %>">Update</a>
              <form action="./delete-user/<%= user.id %>" method="POST"><button>Delete</button></form>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </body>
</html>
